@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Part Compatibility Application</h1>
    <p>Use this application to check compatibility of different computer components</p>
</div>
